<h1>Are you sure you want to delete {{name}}'s profile?</h1>

<form class="" action="/users/delete/{{id}}" method="post">
  <input type="submit" name="yes" value="Yes">
</form>

<a href="/">
  <input type="submit" name="no" value="No">
</a>
