<form class="" action="/users/submit/{{id}}" method="post">
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="email" value="{{email}}">
  <input type="submit" name="edit" value="Edit!">
</form>
