<form class="" action="/users/submit" method="post">
  Name: <input type="text" name="name" value="">
  <br />
  Email: <input type="text" name="email" value="">
  <br />
  <input type="submit" name="add" value="Add me!">
</form>
